{% extends 'base.html' %}

{% block titulo %}Método Gráfico{% endblock %}

{% block cabecalho %}
<nav class="navbar fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
</nav>
{% endblock %}


{% block conteudo %}
<h1 class="mt-5">MÉTODO GRÁFICO</h1>
<form action="" method="post">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="funcao_objetivo">Função Objetivo</label>
                <input autofocus type="text" class="form-control" name="funcao_objetivo" id="funcao_objetivo" aria-describedby="helpId"
                    placeholder="Insirá a função objetivo: 40x+30y=0">
                <small id="helpId" class="form-text text-muted">A Função Objetivo deverá conter zero no
                    resultado da expressão</small>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="id_objetivo">Objetivo</label>
                <select class="form-control" name="objetivo" id="id_objetivo">
                    <option value="max">Maximização</option>
                    <option value="min">Minimização</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
              <label for="id_rotulo_var1">Rótulo da váriavel (x)</label>
              <input type="text" class="form-control" name="rotulo_var1" id="id_rotulo_var1" aria-describedby="helpId" placeholder="Insira aqui um rótulo para variável de decisão (x)">
              <small id="helpId" class="form-text text-muted">Rótulo da variável (x)</small>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
              <label for="id_rotulo_var2">Rótulo da variável (y)</label>
              <input type="text" class="form-control" name="rotulo_var2" id="id_rotulo_var2" aria-describedby="helpId" placeholder="Insira aqui um rótulo para a variável de decisão (y)">
              <small id="helpId" class="form-text text-muted">Rótulo da variável (x)</small>
            </div>
        </div>
    </div>
    <div class="form-group">
      <input hidden type="text"  name="qtde_restricoes" id="id_qtd_restricoes" value="{{ qtde_restricoes }}" >
    </div>
    {% for i in range(qtde_restricoes) %}
    <div class="form-group">
        <label for="id_restricao{{ i + 1 }}">Restrição {{ i + 1 }}:</label>
        <input type="text" class="form-control" name="restricao{{ i + 1 }}" id="id_restricao{{ i + 1 }}" aria-describedby="helpId"
            placeholder="Exemplo: 3+1=0   ou    3x+1y=0     ou     0+1>=0     ou  1x+0y>=0">
        <small id="helpId" class="form-text text-muted">ATENÇÃO! Variáveis em que o valor for igual a zero, o valor
            zero deverá ser inserido na expressão</small>
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary" name="acao" value="resolver">Resolver</button>
</form>
{% endblock %}