{% extends 'base.html' %}

{% block titulo %}Resultado{% endblock %}

{% block conteudo %}

<h1 class="my-3 display-5">SOLUÇÃO:</h1>

{% set fObj = resultado['funcao_objetivo'] %}
{% set listaFuncoesObj = resultado['lista_func_vertices_validos'] %}

<div class="row mb-5">
    <div class="col">
        <div class="text-nowrap table-responsive"> 
            <table class="table table-hover table-striped ">
                <thead class="thead-inverse thead-dark ">
                    <tr>
                        <th>FUNÇÃO OBJETIVO</th>
                        <th class="text-center">{{ fObj.rotulos[0].upper() }} ({{ fObj.letras[0] }})</th>
                        <th class="text-center">{{ fObj.rotulos[1].upper() }} ({{ fObj.letras[1] }})</th>
                        <th class="text-center">TOTAL</th>
                        <th class="text-center">
                            {% if fObj.objetivo == 'max' %}
                            MAXIMIZAÇÃO
                            {% else %}
                            MINIMIZAÇÃO
                            {% endif %}

                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for funcao in listaFuncoesObj %}
                    <tr>
                        <th scope="row ">{{ funcao|e }}</th>
                        <td class="text-center">{{ "%.2f"|format(funcao.solucao[0]) }}</td>
                        <td class="text-center">{{ "%.2f"|format(funcao.solucao[1]) }}</td>
                        <td class="text-center">{{ "%.2f"|format(funcao.valor) }}</td>
                        <td {% if funcao.solucao==fObj.solucao %} class="bg-success text-center text-white">TRUE
                            {% else %}
                            class="bg-danger text-center text-white">FALSE
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Don't forget the "|safe"! -->
<div id="chart">
    <embed type="image/svg+xml" src={{ chart|safe }} />
</div>
<!-- Don't forget the "|safe"! -->
<div class="my-5" id="chart1">
    <embed type="image/svg+xml" src={{ chart1|safe }} />
</div>
{% endblock %}