{% extends 'base.html' %}

{% block titulo %}Programação Linear{% endblock %}

{% block conteudo %}
<div class="">
    <div class="jumbotron text-justify">
        <h1 class="display-4">Método Gráfico</h1>
        <p class="lead">Programação Linear</p>
        <hr class="my-2">
        <p>A Programação Linear é uma ferramenta da Pesquisa Operacional aplicada à solução de
            problemas que objetivam a otimização de um sistema de estudo.</p>
        <p>Uma das técnicas utilizadas para encontrar a solução de Modelos de Programação
            Linear com duas variáveis é o Método Gráfico. Essa técnica consiste em representar
            em um sistema de eixos ortogonais o conjunto das possíveis soluções do problema,
            isto é, o conjunto de pontos que obedecem ao grupo de restrições impostas pelo
            sistema em estudo.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">Voltar</a>
        </p>
    </div>
</div>
{% endblock %}